.wrapper{
  // background-image: url("app/assets/images/ダウンロード.jpeg");
  display: flex;
  

  .form{
    display: flex;
    align-items: center;
    width: 1220px;
    background-color:navy;
    padding: 20px;
    border-radius: 15px;
    margin-left: 3px;
    
    .new_message{
      display: flex;
      height: 50px;
      width: 100%;
      padding: 0 20px 0 10px;
      margin-left: 35px;
      border-radius: 15px;
      
      .form__message{
        height: 100%;
        width: 100%;
        padding-left: 14px;
        font-size: 22px;
      }

      .form__mask {
        display: flex;
        position: relative;
        font-size: 16px;
        background-color: #fff;
        border-style: none;
        margin-top: 3px;
        border-radius: 15px;

        &__image{

          .icon{
            position: absolute;
            bottom: 3px;
            right: 115px;
            cursor: pointer;
            font-size: 40px;
            
          }

          .hidden{
            display: none;
            
          }
        }
      }
    }
  }
}
    .form__submit{
      width: 100px;
      height: 48px;
      background: linear-gradient(to right, #33f 0%, #33f 33%, #fff 33%, #fff 66%, #f33 66%);
      cursor: pointer;
      color:black;
      font-weight: bold;
      font-size: 25px;
      margin:0 0 13px 1px;
      border-radius: 10px;
      
    }

  .id_back-ground{
    width: 100%;
    height: 89%;
    background-image: url("mig.png");
    opacity: 0.85;
  }

  .show {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 5pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
    margin-left: 5px;
  }
  

  .messages{
    margin-left: 126px;
    line-height: 4;
    padding: 2px;
    width: 980px;
    height: 660px;
    overflow: scroll;
    font-weight: bolder;
    
    
    .upper-message{
      height: 18px;
      width: 600px;
      color: #000;
      display: flex;
      
      .upper-message__user-name{
        width: 130px;
        font-size: 10px;
        align-items: 10px;
        font-weight:bold;
        color: #434a54;
        display: flex;
        
      }
      .upper-message__date{
        color: #999;
        margin-left:10px;
        width: 100%;
        font-size: 3px;
        
      }
      
    }
    

    .scroll {
      margin     : 7px;
      width      : 70%;
      font-size  : 120%;
      line-height: 1.5em;
      text-align : center;
      // border     : 1px solid #666;
      color      : #000000;
      // background : #fff;
      overflow   : hidden;
    }
    .scroll span{
      display     : inline-block;
      padding-left: 100%;
      white-space : nowrap;
      line-height : 2em;
      animation   : scrollAnime 20s linear infinite;
    }
    @keyframes scrollAnime{
        0% { transform: translateX(0)}
      100% { transform: translateX(-100%)}
    }
    
  }

  // イイねボタン一式
  .btn_1{
    display: flex;
  }
  
  #up{
    border: 1px solid teal;
    align-items: center;
    padding-left: 14px;
    border-radius: 5px 0 0 5px;
    background-color: teal;
    font-weight: bold;
    color: aliceblue;
  }
  
  #disp_count{
    color: red;
    border: 1px solid black;
    height: 22px;
    font-size: 12px;
    line-height: 21px;
    border-radius: 0 5px 5px 0;
  }
  
  #down{
    border: 1px solid;
    margin-left: 33px;
    height: 17px;
    width: 17px;
    margin-top: 6px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: teal;
    font-weight: bold;
    color: aliceblue;
  }

// 画像
.lower-message__image{
  height: 215px;
  width:180px;
  margin-top: 8px;
  border-radius: 8px;
  box-shadow : 36px 15px 20px rgba(0, 0, 127, 0.71);  /* 画像の影 */
  display: flex;
}
      
      
  
  .chat-main__main-header{
    background-color: #f33;
    padding: 0 60px;
    height: 100px;
    width: 1135px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 18px;
    border-radius: 15px;
    margin: 0 0 0 3px;
    border: 3px solid rgb(197, 2, 2);
    
    
    .btn{
      height: 50px;
      width: 50px;
      line-height: 40px;
      padding: 0 10px;
      margin: 25px 120px 10px 0;
      border:solid 5px navy ;
      position: absolute;
      right: 40px;
      color:black;
      font-weight: bolder;
      text-decoration: none;
      border-radius: 15px;
      background: linear-gradient(to right, #33f 0%, #33f 33%, #fff 33%, #fff 66%, #f33 66%);
    }

    &__left{
      height: 64px;
      width: 400px;
      margin-top:25px;
      
      
      &__into-group{
        font-size: 23px;
        color:#fff;
        width: 100%;
        text-align: left;
        
      }
      .chat-main__main-header__left-box{
        height: 40px;
        width: 100%;
        // display: flex;
        // line-height: 15px;
        margin-bottom: 9px;
        // display: inline-block;
        // float: right;
        display: flex;
        text-align: right;
        
        
        .chat-main__main-header__left-box__into__meber{
          height: 20px;
          width: 70px;
          color: navy;
          font-size: 12px;
          font-weight: bolder;
          text-align: left;
        }
          .chat-main__main-header__left-box__into__meber-meber {
          font-size: 1px;
          color: #fff;
          height: 15px;
          width: 100%;
          text-align: left;
          
        }
      }
    }
  }

